﻿@using TXTextControl.DocumentServices.DocumentEditor;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @Html.TXTextControl().DocumentEditor(s => {
        s.Width = "800px";
        s.Height = "600px";
        s.ServiceUrl = "http://localhost:5000/DocumentServices";
        s.OAuthSettings.ClientId = "dsserver.U1g8bJeTwDLQdeW5MjyDzqpLcup7f7SG";
        s.OAuthSettings.ClientSecret = "HSOXAkJ8rBAnTAwhxoe1msLPSob4iu4d";
        //s.OAuthSettings.RedirectUri = "https://yourdomain.com/DocumentEditor/textcontrol/DocumentEditor/auth/callback";
    }).Render()
</div>
